.nodeBg-6511855 {
  opacity: 1;
  background-image: url(./graphics/graphics0.png);
}
.nodeBg-6511859 {
  opacity: 1;
  background-image: url(./graphics/graphics1.png);
}
.nodeBg-6511860 {
  opacity: 1;
  background-image: url(./graphics/graphics2.png);
}
