.nodeBg-64816646 {
  opacity: 1;
  background-image: url(./graphics/graphics0.png);
}
.nodeBg-64816649 {
  opacity: 1;
  background-image: url(./graphics/graphics1.png);
}
.nodeBg-64816656 {
  opacity: 1;
  background-image: url(./graphics/graphics2.png);
}
.nodeBg-64816657 {
  opacity: 1;
  background-image: url(./graphics/graphics3.png);
}
