.nodeBg-6511560 {
  opacity: 1;
  background-image: url(./graphics/graphics0.png);
}
.nodeBg-6511563 {
  opacity: 1;
  background-image: url(./graphics/graphics1.png);
}
.nodeBg-6511566 {
  opacity: 1;
  background-image: url(./graphics/graphics1.png);
}
.nodeBg-6511587 {
  opacity: 1;
  background-image: url(./graphics/graphics2.png);
}
.nodeBg-6511597 {
  opacity: 1;
  background-image: url(./graphics/graphics2.png);
}
